.custom-image {
    max-width: 92px;
    max-height: 92px;
}

/* Styles for screens with a width of 500px or less */
@media screen and (max-width: 500px) {
    .custom-image {
        width: 46px;
        height: 60px;
    }
}


.same-size-img {
    width: 355.99px; /* Desired width */
    height: 355.99px; /* Desired height */
    object-fit: cover;
}
  
.reduce-font-size {
    font-size: 20px; /* Adjust the font size as needed */
}

